{% extends "basec.html" %}

{% block title %} Edite el proveedor {% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-4 offset-md-4">
        <h2>Edición de cursos</h2>
        <div class="card">
            <div class="card-body">
                <form action="/proveedor_editado/" method="POST">{% csrf_token %}
                    <div class="form-group mb-3">
                        <input type="number" id="txtCodigo" value="{{editprove.id}}" name="txtid" class="form-control" placeholder="Id del curso" readonly required>
                    </div>
                    <div class="form-group mb-3">
                        <input type="text" id="txtNombre" value="{{editprove.nombre}}" name="txtNombre" class="form-control" placeholder="Nombre del curso"required>
                    </div>
                    <div class="form-group mb-3">
                        <input type="text" id="txtNombre" value="{{editprove.direccion }}" name="txtdire" class="form-control" placeholder="Direccion del curso "required>
                    </div>
                    <div class="form-group mb-3">
                        <input type="text" id="txtNombre" value="{{editprove.telefono}}" name="txtele" class="form-control" placeholder="Telefono del cursor"required>
                    </div>
                    <div class="form-group mb-3">
                        <button type="submit" style="display: block; width: 100%;" class="btn btn-success btn-block text-white ">Guardar curso</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}